body {
  background-color:#EEF1FF;
}
img{
height:250px;
}
hr{
border-style:none;
border-top-style:dotted;
border-color:#8BBCCC;
border-width:6px;
width:4%
}
h1{
  color:#182747;

}
h3{
  color:#25316D;
}
